# Nodejs
node_modules
package-lock.json

# Build
build

# Unit Test
coverage

# Logs
logs

# Keep environment variables out of version control
.env

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*