package-lock.json
node_modules/
coverage/
build/
logs/

# Keep environment variables out of version control
.env

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*